$background: #646569;
$color-primary: #1f1f21;
$color-secondary: #2c2e4b;
$color-fonts: #c3d376;
$color-keyboard-background: #bfbfbf;
$color-active: #eeff9c;
$color-active-bg: #878de8;
$color-after-active: #ecff8f;
$color-after-active-bg: #404155;